  <div id="footer">
    <div class="container">
      <p class="text-muted credit">
        Built with <a href="https://github.com/lukevenediger/champ/">champ</a>, a simple static site generator for Windows.
      </p>
    </div>
  </div>