@{
  Layout = "~/_layout.cshtml";
}

  <div class="container theme-showcase">
    <div class="row">
      <div class="col-lg-8">
        @Model.Content
      </div>
    </div>
  </div>

<h2>Comments Please</h2>